.main-list-container{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    .table-heading{
        height: 40px;
        margin: 20px 0px 10px 15px;

        h2{
            font-size: 25px;
            font-weight: bolc;
        }
    }

    .table-body{
        background-color: #fff;
        width: 96%;
        height: fit-content;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #939393;

   
        .table{
            padding: 15px;

            th{
                font-size: 16px;
            }
            th,td{
                padding: 5px 70px 0px 5px;
                margin-right: 50px;
            }
            td{
                margin-top: 15px;
                font-size: 15px;
            }
            td :hover{
                background-color: #939393;
            }
            .action-btns{
                display: flex;
                justify-content: center;
                button{
                    width: 55px;
                    height: 30px;
                    border-radius: 10px;
                    border: none;
                    margin: 1px;
                    cursor: pointer;
                    font-weight: 500;
        
                }
                .edit{
                    background-color: #3D6AC8;
                    color: #fff;
                }
                .edit:hover{
                    background-color: #7290DD;
                }

                .delete{
                    background-color: rgba(255,0,0,.9);
                    color: #fff;
                }
                .delete:hover{
                    background-color: rgba(255,0,0,.6);
                }
            }

            .no-record{
                padding-left: 50px;
                text-align: center;
                font-size: large;
                font-weight: bold;
                color: red;
               
               
            }
        
        }
    }
}