<div class="main-list-container">
    <div class="table-heading">
      <h2>Registered Students</h2>
    </div>
    <div class="table-body">

        <table class="table" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="tbody" *ngIf="stdList.length>0; else emptyMessage">
                <tr *ngFor="let std of stdList">
                    <td>{{std.id}}</td>
                    <td>{{std.name}}</td>
                    <td>{{std.email}}</td>
                    <td>{{std.phone}}</td>
                    <td class="action-btns">
                        <button class="edit" (click)="onEdit(std.id)">Edit</button>
                        <button class="delete" (click)="onDelete(std.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
            <ng-template #emptyMessage>
                <tr class="no-record">
                <td colspan="5">No records found.</td>
                </tr>
            </ng-template>
        </table>
       
      
    </div>
  </div>