.side-nav{
    background-color: #7290DD;
      
        display: flex;
        width: 300px;
        height: 90vh;
    .nav-items{
        padding-top: 40px;
        font-size: 18px;
        color: white;
        font-weight: 500;

        .nav-item{
            padding: 15px 35px;
            cursor: pointer;

            fa-icon{
                font-size: 23px;
                margin-right: 20px;
            }
            
        }

        .nav-item:hover{
            color: blanchedalmond;
        }
    }
}


