<div class="main-container">

   

    <div class="form-container">
        <div class="form-header">
            <fa-icon [icon]="faUser"></fa-icon>
           
            <h3>User Registeration</h3>
        </div>
        <form action="" class="form-body">
            <input type="text" placeholder="username">
            <input type="email" placeholder="email">

            <input type="password" placeholder="password">
            <input type="password" placeholder="confirm-password">

            <div class="form-footer">
                <button>Register</button>
                <small><p>Already have an account? <a routerLink="../login">Login here</a></p> </small>

            </div>

        </form>
    </div>

</div>