<div class="main-container">

   

    <div class="form-container">
        <div class="form-header">
         
            <fa-icon [icon]="falock"></fa-icon>
           
            <h3>Welcome</h3>
        </div>
        <form action="" class="form-body">
            <input type="text" placeholder="email">
            <input type="password" placeholder="password">

            <div class="form-footer">
                <button>Login</button>
                <small><p>Dont't have an account? <a routerLink="../register">Register here</a></p> </small>
                
            </div>

        </form>
    </div>

</div>