/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: #CFD0C8;
    font-family: "Roboto", sans-serif;

}

*{
    padding: 0px;
    margin: 0px;
}

